//variables
$primaryBrn: blue;
$textColor: black;

@import "./contact";

//mixin function
@mixin flexCenter($direction, $background) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  background: $background;
}

//extensions
footer {
  @extend header;
  background: coral; //lower cascade override
}

header {
  @include flexCenter(column, red);
  height: 100vh;
  color: $textColor;
  button {
    background: $primaryBrn;
    &:hover {
      background: red;
    }
    &::after {
      content: "hello";
    }
  } //same as below commented out syntax
}

// header button {
//   background: $primaryBrn;
// }

ul {
  @include flexCenter(column, white);
  padding: 0;
  background: transparent;
}

li {
  width: 8rem;
  height: 5rem;
}

p {
  font-size: 1.25rem;
  text-decoration: underline;
  font-weight: bold;
}

h2 {
  text-decoration: underline;
  font-weight: bold;
}

#active-streams {
  background: rgb(221, 221, 221);
  border: solid 1px black;
  border-radius: 20px;
  margin: 0.5rem;
}

#pop-games {
  background: rgb(221, 221, 221);
  border: solid 1px black;
  border-radius: 20px;
  margin: 0.5rem;
}

img {
  border: 1px solid $textColor;
  border-radius: 10px;
}

#refresh-btn {
  @include flexCenter(row, $primaryBrn);
  color: white;
}

#top-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a:link,
a:visited {
  color: blue;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: red;
  }
}

#thumbnail-url li img {
  position: absolute;
  top: 0;
  left: 45%;
  width: 20%;
  &:hover {
    z-index: 10;
    width: 100%;
  }
}

#thumbnail-url li {
  position: relative;
  width: 20rem;
}

#container4 li img {
  position: absolute;
  top: 0;
  left: 45%;
  width: 20%;
  &:hover {
    z-index: 10;
    width: 100%;
  }
}

#container4 li {
  position: relative;
  width: 20rem;
}
